.card-contenair {
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
	flex-shrink: 0;
	width: 280px;
	height: 280px;
	border-radius: 10%;
	border: 1px $color-1;
	margin: 5px;
	background: $black;
	box-shadow: 0px 0px 10px -5px rgb(255, 255, 255);
	padding: 15px 25px;
	
	a {
		display: flex;
		justify-content: center;
		font-size: 36px;
		color: $grey;
	}
	@media screen and (max-width: 350px){
		width: 220px;
		height: 220px;

	  }
}

	

.card-description {
	font-size: 16px;
	line-height: 24px;
}