.navbar {
	position: fixed;
    right: 5%;
	bottom: 5%;
		span {
			font-family: $font-family2;
			font-weight: 900;
			margin-right: 10px;

		&:hover {
			transform: translate(3px, 3px);
			color: $grey;
			}
		}
		.active {
			color: $white;
		  }
	}


.filter-bar {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	justify-content: center;

	p {
		margin-right:10px;
		font-size: 16px;
	}
	span {
		font-family: $font-family1;
		font-size: 18px;

		&:hover {
			transform: translate(3px, 3px);
			color: $grey;
		}
	}
	a {
		text-decoration: none;
		color: $color-1;
		cursor: pointer;
		border-bottom: 1px solid;
		margin: 5px;
		// padding: 5px;
	  }
	.active {
		color: $grey;
	  }
}