.card-contenair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 0;
  width: 380px;
  height: 280px;
  border-radius: 10%;
  margin: 8px;
  background: rgb(24, 24, 24);
  box-shadow: 5px 5px 0px 0px rgb(32, 32, 32);
  padding: 15px 25px;
  // overflow: hidden;

  &:hover {
    background-color: $black;
    transform: translateY(-7px);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .card-tags {
      display: flex;

      .tags-item {
        margin-right: 8px;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    color: $color-3;
  }

  .MuiSvgIcon-root {
    font-size: 36px;
    &:hover {
      color: $color-1;
    }
  }

  .card-description {
    font-size: 16px;
    // line-height: 24px;
  }

  .card-stack {
    display: flex;

    .stack-item {
      margin-right: 8px;
      font-size: 0.75rem;
      color: $grey;
    }
  }

  @media screen and (max-width: 550px) {
    width: 280px;
    height: 280px;

    .card-header .card-tags .tags-item {
      display: flex;
      align-items: center;
      font-size: 0.6rem;
      font-weight: 600;
    }

    a {
      display: flex;
      justify-content: center;
      color: $color-3;
    }

    .MuiSvgIcon-root {
      font-size: 24px;
    }

    .card-description {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 350px) {
    width: 220px;
    height: 300px;
    .card-header {
      flex-direction: column-reverse;

      .card-tags .tags-item {
        margin-right: unset;
      }
    }

    .card-title {
      font-size: 1.2rem;
    }

    .card-stack {
      flex-flow: wrap;
    }
  }
}
