.header-contenair {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 15px;
}

.navbar {
  display: flex;
  align-items: center;
  span {
    font-family: $font-family2;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;

    &:hover {
      transform: translate(3px, 3px);
      color: $color-3;
    }
  }

  .active {
    color: $color-3;
  }
}

.mobile-navbar {
  .fas {
    margin-right: 10px;
  }
  .active {
    color: $white;
  }
}

.header_title {
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: 400;
}

@media screen and (max-width: 720px) {
  .header_title {
    font-size: 24px;
  }
}

@media screen and (max-width: 980px) {
  .header-contenair {
    margin: unset;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 400px) {
  .header_title {
    font-size: 18px;
  }

  .mobile-navbar {
    .fas {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 350px) {
  .header_title {
    font-size: 14px;
  }

  .mobile-navbar {
    .fas {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
