.about-contenair {
  display: flex;
  flex-direction: column;
  margin: auto;

  .about-text {
    max-width: 800px;
    text-align: justify;
  }

  .skills-contenair {
    display: flex;
    flex-direction: column;
    align-items: center;

    .skills {
      max-width: 500px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;

      .one-skill {
        position: relative;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          margin: 5px;
          cursor: pointer;
          border-radius: 100px;
          border: solid 1px $grey;
        }

        .skill-img {
          width: 60px;
        }

        .hover-skill-number {
          opacity: 0;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: white;
          width: 80px;
          height: 80px;
          cursor: pointer;
          border-radius: 100px;

          &:hover {
            opacity: 0.8;
          }

          p {
            font-weight: bold;
            font-size: 1rem;
            // text-overflow: ;
            // overflow: hidden;
            color: $black;
          }
        }
        @media screen and (max-width: 450px) {
          .hover-skill-number {
            width: 60px;
            height: 60px;
          }
          li {
            width: 60px;
            height: 60px;
          }

          .skill-img {
            width: 50px;
          }
        }
      }
    }
    .skills-title {
      margin: 40px 0;
    }
  }
}
