.main-creations {
	margin: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	.deck-contenair {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		overflow: auto;
		width: 100%;
		max-width: 1300px;
		max-height: 600px;
		// background: crimson;
		margin: 20px auto;
		@media screen and (max-width: 850px){
			// overflow: unset;
		max-height: 800px;

		}

	}
	@media screen and (max-width: 850px){
		margin: 20px;

  }
}