
// .App {
// 	// background: navy;
// 	display: flex;
// 	flex-direction: row;
// }


.home {
	width: 80%;
    max-width: 1300px;
    margin: 100px auto;
    flex-direction: column;

	img {
		max-width: 300px;
		height: fit-content;
		box-shadow: 0px 0px 10px -5px rgb(255, 255, 255);
		border: 2px solid $color-1;
		@media screen and (max-width: 850px){
				display: none;
	
		  }
	}
}

.home-main {
	display: flex;
	//    align-items: center;
	flex-direction: row;
}

.home-text {
	padding-right: 40px;
	max-width: 740px;
}

.home-title {
	display: flex;
    flex-direction: column;
	font-weight: 900;
	font-size: 58px;
}

.under-title {
	margin: 50px 0px 30px 0px;
	font-weight: 900;
	font-size: 32px;
	color: $grey;
}

.type-name {
	color: $color-1;
}

// .Typist .Cursor--blinking {
// 	color: var(--green-bright);
// 	padding-left: 4px;
//   }
//   .Typist .Cursor--blinking {
// 	opacity: 1;
// 	animation: blink 1s linear infinite;
//   }
//   .Typist .Cursor {
// 	display: inline-block;
//   }




