@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

$font-family1: 'Ubuntu', sans-serif;
$font-family2: 'Source Sans Pro', sans-serif;

$color-1: #055e14;
$color-2: #7c2e41;
$color-3: #ab2836;
$color-4: #838105;

$white: #ddd;
$darkwhite: rgb(207, 207, 207);
$black: rgba(0, 0, 0, 0.952);
$grey: rgb(121, 121, 121);
$darkgrey: rgb(85, 85, 85);

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;


body {
	background: $black;
	font-family: $font-family2;
	color: #efefef;
	font-size: 24px;
	// line-height: 38px;
	font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// // 	  display: flex;
// //     justify-content: center;
// //     padding-left: 15%;
// //     padding-top: 15%;
// //     padding-right: 25%;
}

.home, .about, .creations, .contact {

  @media screen and (max-width: 850px){
    display: block !important;
  }
}

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center; 
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-2;
  cursor: pointer;
}

a:hover {
  margin: 5px;
  color: $grey;
}

// a:visited {
//   color:$color-3;
// }
